<div class="row justify-content-center align-items-center">        
    <div class="col-12 col-md-6 col-lg-4">
        <%= link_to '< Back to login', '/login' %>
        <%= form_with model: User.new, html: { class: 'pt-3' } do |form| %>
            <div class="row pt-2 gy-3 gx-2">
                <div class="col-6">
                    <div class="form-floating required">
                        <%= form.text_field :first_name, { class: 'form-control', placeholder: 'First Name' } %>
                        <%= form.label :first_name, 'First Name' %>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating required">
                        <%= form.text_field :last_name, { class: 'form-control', placeholder: 'Last Name' } %>
                        <%= form.label :last_name, 'Last Name' %>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating required">
                        <%= form.text_field :email, { class: 'form-control', placeholder: 'Email' } %>
                        <%= form.label :email, 'Email' %>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating required">
                        <%= form.text_field :username, { class: 'form-control', placeholder: 'Username' } %>
                        <%= form.label :username, 'Username' %>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating required">
                        <%= form.password_field :password, { class: 'form-control', placeholder: 'Password' } %>
                        <%= form.label :password, 'Password' %>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating required">
                        <%= form.password_field :password_confirmation, { class: 'form-control', placeholder: 'Confirm Password' } %>
                        <%= form.label :password_confirmation, 'Confirm Password' %>
                    </div>
                </div>
                <div class="col-12">
                    <%= form.submit 'Create Account', class: 'btn btn-primary btn-lg w-100' %>
                </div>
            </div>
        <% end %>
    </div>
</div>
