<div class="row justify-content-center align-items-center">        
    <div class="col-12 col-md-6 col-lg-4">
        <%= form_tag '/reset-password-save', html: { class: 'pt-3' } do %>
            <div class="row pt-2 gy-3 gx-2">
                <%= text_field_tag :reset_code, @user.reset_code, { class: 'd-none' } %>
                <div class="col-12">
                    <div class="form-floating required">
                        <%= text_field_tag :email, @user.email, { class: 'form-control', placeholder: 'Email', :readonly => true } %>
                        <%= label_tag :email, 'Email' %>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating required">
                        <%= password_field_tag :password, nil, { class: 'form-control', placeholder: 'New Password' } %>
                        <%= label_tag :password, 'New Password' %>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating required">
                        <%= password_field_tag :password_confirmation, nil, { class: 'form-control', placeholder: 'Confirm Password' } %>
                        <%= label_tag :password_confirmation, 'Confirm Password' %>
                    </div>
                </div>
                <div class="col-12">
                    <%= submit_tag 'Save New Password', class: 'btn btn-primary btn-lg w-100' %>
                </div>
            </div>
        <% end %>
    </div>
</div>
