<div class="row pt-3">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" id="user-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link <%= @active_tab == 'details' ? 'active' : nil %>" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-content" type="button" role="tab" aria-controls="details" aria-selected="<%= @active_tab == 'details' ? 'true' : 'false' %>">Details</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link <%= @active_tab == 'events' ? 'active' : nil %>" id="events-tab" data-bs-toggle="tab" data-bs-target="#events-content" type="button" role="tab" aria-controls="events" aria-selected="<%= @active_tab == 'events' ? 'true' : 'false' %>">Events</button>
                    </li>
                </ul>
            </div>
        </div>
        <%= render 'users/profile/info_summary_bar', locals: { distance: @distance, elevation: @elevation, tm_legionnaire: @tm_legionnaire } %>
        <div class="row pt-3 justify-content-center">
            <div class="col-12 col-lg-9">
                <div class="tab-content" id="tab-content">
                    <div class="tab-pane fade <%= @active_tab == 'details' ? 'show active' : nil %>" id="details-content" role="tabpanel" aria-labelledby="details-tab">
                        <%= render 'users/profile/details', locals: { user: @user } %>
                    </div>
                    <div class="tab-pane fade <%= @active_tab == 'events' ? 'show active' : nil %>" id="events-content" role="tabpanel" aria-labelledby="events-tab">
                        <%= render 'users/profile/events', locals: { user: @user, participants: @participants } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% unless @user.active %>
<!-- Participant Modal -->
<div class="modal fade" id="inactiveUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="inactive-user-modal-label" aria-hidden="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Verify Account</h5>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						<p>Please verify your account before continuing.</p>
						<p>Need a new verification email?</p>
						<%= button_tag 'Resend Verification Email',
								type: 'button',
								class: 'btn btn-primary btn-lg col-12',
								id: 'resend-verification-email-button' %>
					</div>
					<div id="emailVerificationFeedback" class="col-12 d-none">
						<p>Email sent! Click the link in the email to verify your account.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
