<%
    breadcrumb_items = [
        {
            :url => '/events',
            :text => 'Events'
        },
        {
            :text => @event.name
        }
    ]
%>
<%= render partial: 'common/breadcrumb', locals: { items: breadcrumb_items } %>
<div class="row">
    <div class="col-12">
        <p>
            <span class="h3"><%= @event.name %></span>
            <% if @can_edit_event %>
            <span class="ps-3"><%= link_to "Edit", edit_event_path(@event) %></span>
            <% end %>
        </p>
    </div>
</div>
<div class="row pt-3">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" id="event-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link <%= @active_tab == 'details' ? 'active' : nil %>" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-content" type="button" role="tab" aria-controls="details-tab" aria-selected="<%= @active_tab == 'details' ? 'true' : 'false' %>">Details</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link <%= @active_tab == 'event-types' ? 'active' : nil %>" id="event-types-tab" data-bs-toggle="tab" data-bs-target="#event-types-content" type="button" role="tab" aria-controls="event-types-tab" aria-selected="<%= @active_tab == 'event-types' ? 'true' : 'false' %>">Event Types</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link <%= @active_tab == 'participants' ? 'active' : nil %>" id="participants-tab" data-bs-toggle="tab" data-bs-target="#participants-content" type="button" role="tab" aria-controls="participants-tab" aria-selected="<%= @active_tab == 'participants' ? 'true' : 'false' %>">Participants</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row pt-3 justify-content-center">
            <div class="col-12 col-lg-9">
                <div class="tab-content" id="tab-content">
                    <div class="tab-pane fade <%= (@active_tab == nil || @active_tab == 'details') ? 'show active' : nil %>" id="details-content" role="tabpanel" aria-labelledby="details-tab">
                        <%= render 'events/partials/details', locals: { event: @event } %>
                    </div>
                    <div class="tab-pane fade <%= @active_tab == 'event-types' ? 'show active' : nil %>" id="event-types-content" role="tabpanel" aria-labelledby="event-types-tab">
                        <%= render 'events/partials/event_details', locals: { event_details: @event_details } %>
                    </div>
                    <div class="tab-pane fade <%= @active_tab == 'participants' ? 'show active' : nil %>" id="participants-content" role="tabpanel" aria-labelledby="participants-tab">
                        <%= render 'events/partials/participants', locals: { event: @event, participants: @participants } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
