<% if @user.active %>
<div class="row pt-4">
    <div class="col-8 col-sm-6 col-md-5 col-lg-4 mx-auto">
        <%= button_tag 'Add Event',
            type: 'button',
            class: 'btn btn-primary btn-lg col-12',
            id: 'add-event-button',
            data: {
                bs_toggle: 'modal',
                bs_target: '#participantModal'
            } %>
    </div>
</div>
<% end %>
<div class="row pt-3">
    <div class="col-12 col-xl-10 mx-auto pt-2">
        <table id="participant-table" class="table table-sm table-striped table-hover data-table w-100" style="font-size: 14px;">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Type</th>
                    <th>Day</th>
                </tr>
            </thead>
            <tbody>
            <% @participants.each do |participant| %>
                <tr class="table-row" data-bs-toggle="modal" data-bs-target="#participantModal" data-participant="<%= participant.id %>" data-event="<%= participant.event_detail.event_id %>" data-type="<%= participant.event_detail.event_type_id %>" data-day="<%= participant.participation_day %>" data-laps="<%= participant.additional_laps %>">
                    <td><%= participant.event_detail.event.name %></td>
                    <td>
                        <span class="d-none d-md-inline-block"><%= participant.event_detail.event_type.name %></span>
                        <span class="d-md-none"><%= participant.event_detail.event_type.short_name %></span>
                    </td>
                    <td>
                        <span class="d-none d-md-inline-block"><%= participant.participation_day %></span>
                        <span class="d-md-none"><%= "#{participant.participation_day.first(3)}." rescue nil %></span>
                        <% if participant.additional_laps %>
                        (+<%= participant.additional_laps %>)
                        <% end %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>

<div id="participation-day-template" class="d-none">
    <span class="d-none d-md-inline-block day-long"></span>
    <span class="d-md-none day-short"></span>
    <span class="additional-laps"></span>
</div>

<% if @user.active %>
<!-- Participant Modal -->
<div class="modal fade" id="participantModal" tabindex="-1" role="dialog" aria-labelledby="participant-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <%= form_with model: @new_participant, id: 'participant-form' do |form| %>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="participant-modal-label">Add</span> Event</h5>
                    <%= dismiss_modal_tag %>
                </div>
                <div class="modal-body">
                    <div class="row gy-3">
                        <%= form.text_field :user_id, value: @user.id, class: 'd-none' %>
                        <%= form.text_field :id, value: @new_participant.id, class: 'd-none' %>
                        <%= form.fields_for :event_detail, @new_participant.event_detail do |event_detail_form| %>
                            <div class="col-12">
                                <%= event_detail_form.label :event, 'Event', { class: 'form-label' } %>
                                <%= event_detail_form.select :event, options_for_select(@events.map{ |event| [event.name, event.id, { 'data-brand' => event.brand_id }] }), { prompt: 'Select...' }, { class: 'form-select' } %>
                            </div>
                            <div class="col-12">
                                <%= event_detail_form.label :event_type, 'Event Type', { class: 'form-label' } %>
                                <%= event_detail_form.select :event_type, options_for_select(@event_types.map{ |event_type| [event_type.name, event_type.id, { 'data-brand' => event_type.brand_id }] }), { prompt: 'Select...' }, { class: 'form-select' } %>
                            </div>
                        <% end %>
                        <div class="col-12">
                            <p>Participation Day</p>
                            <div class="form-check form-check-inline">
                                <%= form.radio_button :participation_day, 'Saturday', { class: 'form-check-input' } %>
                                <%= form.label :participation_day_saturday, 'Saturday', { class: 'form-check-label' } %>
                            </div>
                            <div class="form-check form-check-inline">
                                <%= form.radio_button :participation_day, 'Sunday', { class: 'form-check-input' } %>
                                <%= form.label :participation_day_sunday, 'Sunday', { class: 'form-check-label' } %>
                            </div>
                        </div>
                        <%= form.label :additional_laps, 'Additional Laps', { class: 'col-4 col-form-label' } %>
                        <div class="col-1 position-relative counter-button counter-down">
                            <i class="bi bi-dash-circle fs-5 fw-bold position-absolute top-50 start-50 translate-middle"></i>
                        </div>
                        <div class="col-3">
                            <%= form.number_field :additional_laps, value: @new_participant.additional_laps, class: 'form-control', min: 0 %>
                        </div>
                        <div class="col-1 position-relative counter-button counter-up">
                            <i class="bi bi-plus-circle fs-5 fw-bold position-absolute top-50 start-50 translate-middle"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-block">
                    <div class="row justify-content-between gx-0">
                        <div class="col-auto">
                            <a id="delete-participant" class="btn btn-danger text-white" data-redirect="users/<%= @user.id %>" data-participant="">Delete</a>
                        </div>
                        <div class="col-auto d-flex gap-2">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="user-add-participant-button" type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
<% end %>
