<% if @can_edit_event %>
<div class="row pt-4">
    <div class="col-8 col-sm-6 col-md-5 col-lg-4 mx-auto">
        <%= button_tag 'Add Participant',
            type: 'button',
            class: 'btn btn-primary btn-lg col-12',
            data: {
                bs_toggle: 'modal',
                bs_target: '#participantModal',
                event: @event.id
            } %>
    </div>
</div>
<% end %>
<div class="row pt-3">
    <div class="col-12 col-xl-10 mx-auto table-responsive pt-2">
        <table id="participant-table" class="table table-striped <%= @can_edit_event ? 'table-hover' : nil %> data-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Day</th>
                </tr>
            </thead>
            <tbody>
            <% @participants.each do |participant| %>
                <tr class="<%= @can_edit_event ? 'table-row' : nil %>" data-bs-toggle="modal" data-bs-target="#participantModal" data-participant="<%= participant.id %>" data-name="<%= participant.user.id %>" data-event="<%= participant.event_detail.event_id %>" data-type="<%= participant.event_detail.event_type_id %>" data-day="<%= participant.participation_day %>">
                    <td><%= participant.user.full_name %></td>
                    <td><%= participant.event_detail.event_type.name %></td>
                    <td><%= participant.participation_day %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>

<% if @can_edit_event %>
<!-- Participant Modal -->
<div class="modal fade" id="participantModal" tabindex="-1" role="dialog" aria-labelledby="participantModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <%= form_with model: @new_participant, id: 'participant-form' do |form| %>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="participantModalLabel">Add Participant</h5>
                    <%= dismiss_modal_tag %>
                </div>
                <div class="modal-body">
                    <fieldset <% if !@can_edit_event %>disabled<% end %>>
                        <div class="row gy-3">
                            <%= form.text_field :id, value: @new_participant.id, class: 'd-none' %>
                            <div class="col-12">
                                <%= form.label :user_id, 'Participant Name', { class: 'form-label' } %>
                                <%= form.collection_select :user_id, @user_list, :id, :full_name, { selected: current_user.id }, { class: 'form-select' } %>
                            </div>
                            <%= form.fields_for :event_detail, @new_participant.event_detail do |event_detail_form| %>
                                <%= event_detail_form.text_field :event, value: @event.id, class: 'd-none' %>
                                <div class="col-12">
                                    <%= event_detail_form.label :event_type, 'Event Type', { class: 'form-label' } %>
                                    <%= event_detail_form.collection_select :event_type, @event_types, :id, :name, { prompt: 'Select...' }, { class: 'form-select' } %>
                                </div>
                            <% end %>
                            <div class="col-12">
                                <p>Participation Day</p>
                                <div class="form-check form-check-inline">
                                    <%= form.radio_button :participation_day, 'Saturday', { class: 'form-check-input' } %>
                                    <%= form.label :participation_day_saturday, 'Saturday', { class: 'form-check-label' } %>
                                </div>
                                <div class="form-check form-check-inline">
                                    <%= form.radio_button :participation_day, 'Sunday', { class: 'form-check-input' } %>
                                    <%= form.label :participation_day_sunday, 'Sunday', { class: 'form-check-label' } %>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <% if @can_edit_event %>
                <div class="modal-footer d-block">
                    <div class="row justify-content-between gx-0">
                        <div class="col-auto">
                            <a id="delete-participant" class="btn btn-danger text-white" data-redirect="events/<%= @event.id %>" data-participant="">Delete</a>
                        </div>
                        <div class="col-auto d-flex gap-2">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="event-add-participant-button" type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
<% end %>
